<h4>{{ gettext('Data source selection') }}</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ gettext('Parameter') }}</th>
            <th>{{ gettext('Alias') }}</th>
            <th>{{ gettext('Example') }}</th>
            <th>{{ gettext('Description') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>network</td>
            <td>net</td>
            <td>FR</td>
            <td>{{ gettext('parameter:network:description') }}</td>
        </tr>
        <tr>
            <td>station</td>
            <td>sta</td>
            <td>CIEL</td>
            <td>{{ gettext('parameter:station:description') }}</td>
        </tr>
        <tr>
            <td>location</td>
            <td>loc</td>
            <td>00</td>
            <td>{{ gettext('parameter:location:description') }}</td>
        </tr>
        <tr>
            <td>channel</td>
            <td>cha</td>
            <td>HHZ</td>
            <td>{{ gettext('parameter:channel:description') }}</td>
        </tr>
    </tbody>
</table>

{% include 'seedpsd:api/templates/snippets/doc/wildcards.jinja2' %}