<h5>{{ gettext('Date and time formats') }}</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ gettext('Format') }}</th>
            <th>{{ gettext('Example') }}</th>
            <th>{{ gettext('Description') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>YYYY-MM-DDThh:mm:ss[.ssssss]</td>
            <td>1997-01-31T12:04:32.123</td>
            <td>{{ gettext('datetime:description') }}</td>
        </tr>
        <tr>
            <td>YYYY-MM-DD</td>
            <td>1997-01-31</td>
            <td>{{ gettext('date:description') }}</td>
        </tr>
        <tr>
            <td>currentutcday</td>
            <td></td>
            <td>{{ gettext('currentutcday:description') }}</td>
        </tr>
    </tbody>
</table>

<pre>
    <code>
{{ gettext('with') }} :

YYYY    :: {{ gettext('datetimes:YYYY') }}
MM      :: {{ gettext('datetimes:MM') }}
DD      :: {{ gettext('datetimes:DD') }}
T       :: {{ gettext('datetimes:T') }}
hh      :: {{ gettext('datetimes:hh') }}
mm      :: {{ gettext('datetimes:mm') }}
ss      :: {{ gettext('datetimes:ss') }}
ssssss  :: {{ gettext('datetimes:ssssss') }}
    </code>
</pre>