<h5>{{ gettext('Wildcards and lists') }}</h5>
<ul>
    <li><strong>?</strong> : {{ gettext('wildcard:question') }}</li>
    <li><strong>*</strong> : {{ gettext('wildcard:asterisk') }}</li>
    <li><strong>,</strong> : {{ gettext('list:comma') }}.</li>
</ul>
<p>{{ gettext('For example, with channel codes') }}: channel=EH?,BHZ</p>