<h2>{{ gettext('Credits') }}</h2>
<ul>
    <li><a href="https://orcid.org/0000-0001-9156-7819" target="_blank">Bollard Philippe (CNRS/OSUG)</a></li>
    <li><a href="https://orcid.org/0000-0002-7998-5417" target="_blank">Mordret Aurélien (UGA/ISTerre)</a></li>
    <li><a href="https://orcid.org/0000-0002-1854-7157" target="_blank">Stehly Laurent (UGA/ISTerre)</a></li>
    <li>Touvier Jérôme</li>
    <li><a href="https://docs.obspy.org/packages/autogen/obspy.signal.spectral_estimation.PPSD.html" target="_blank">ObsPy</a></li>
</ul>