<header id="topbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{{ request.route_path('home') }}">
            SeedPSD
        </a>

        <!-- Expander button -->
        <button type="button" class="navbar-toggler d-print-none" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Expanded navigation -->
        <div id="navbar-collapse" class="justify-content-end navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="{{ request.route_path('home') }}" class="nav-link{% if command and command == 'home' %} active{% endif %}">Home</a>
                </li>

                <li class="nav-item">
                   <a href="{{ request.route_path('histogram') }}" class="nav-link{% if command and command == 'histogram' %} active{% endif %}">Histogram</a>
                </li>

                <li class="nav-item">
                    <a href="{{ request.route_path('spectrogram') }}" class="nav-link{% if command and command == 'spectrogram' %} active{% endif %}">Spectrogram</a>
                </li>

                <li class="nav-item">
                    <a href="{{ request.route_path('value') }}" class="nav-link{% if command and command == 'value' %} active{% endif %}">Value</a>
                </li>

                <li class="nav-item">
                    <a href="{{ request.route_path('coverage') }}" class="nav-link{% if command and command == 'coverage' %} active{% endif %}">Coverage</a>
                </li>
            </ul>
        </div>
    </div>
</header>
