<h1 class="clearfix">
    SeedPSD{% if command and command !='home' %}: {{ command }}{% endif %}
    <span class="float-right">
        {% for loc in layout.locales %}
            {% if loc == locale  %}
                <a class="btn btn-outline-primary btn-sm disabled" role="button" aria-disabled="true">{{ locale|upper }}</a>
            {% else %}
                <a class="btn btn-outline-primary btn-sm" role="button" aria-disabled="false" href="{{ request.route_path(command) }}?locale={{ loc }}">{{ loc|upper }}</a>
            {% endif %}
        {% endfor %}
    </span>
</h1>
