/* === COMMON === */
a {
    color: #e36629;
}
a:hover {
    background-color: #e36629;
    color: white;
    text-decoration: none;
}
::selection {
    background-color: #e36629;
    color: white;
}
h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
}
h2 {
    margin-bottom: 30px;
}
h1::after,
h2::after {
    content:"";
    display:block;
    height:5px;
    width:55px;
    background:#000;
    margin:20px 0
}
body::before {
    background: none;
}

/* === TOPBAR === */
#topbar {
    border-bottom: 5px solid #e36629;
    background: white;
    padding: 0;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
}
#topbar .nav {
    margin: 0;
}
#topbar .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#topbar .navbar-brand {
    max-height: 75px;
}
#topbar .navbar-brand:hover {
    text-decoration: none;
    background: none;
}
#topbar .navbar-logo {
    max-width: 200px;
}
#topbar .nav-link:hover {
    color: #e36629;
    background: none;
}
#topbar .dropdown-item:hover {
    color: #e36629;
    background: none;
}
#topbar .active {
    color: #e36629;
    background: none;
    font-weight: bolder;
}

/* === MAIN === */
main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
main.container {
    max-width: 1400px;
}
#content .card {
    margin-bottom: 20px;
}
