/* === COMMON === */
a {
    color: #e36629;
}
a:hover {
    background-color: #e36629;
    color: white;
    text-decoration: none;
}
::selection {
    background-color: #e36629;
    color: white;
}
h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
}
h2 {
    margin-bottom: 30px;
}
h1::after,
h2::after {
    content:"";
    display:block;
    height:5px;
    width:55px;
    background:#000;
    margin:20px 0
}
body::before {
    background: none;
}

/* === TOPBAR === */
#topbar {
    border-bottom: 5px solid #e36629;
    background: white;
    padding: 0;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
}
#topbar .nav {
    margin: 0;
}
#topbar .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#topbar .navbar-brand {
    max-height: 75px;
}
#topbar .navbar-brand:hover {
    text-decoration: none;
    background: none;
}
#topbar .navbar-logo {
    max-width: 200px;
}
#topbar .nav-link:hover {
    color: #e36629;
    background: none;
}
#topbar .dropdown-item:hover {
    color: #e36629;
    background: none;
}
#topbar .active {
    color: #e36629;
    background: none;
    font-weight: bolder;
}

/* === SIDEBAR === */
#sidebar {
    border-right: 1px dotted #000;
    position: -webkit-sticky;
    position: sticky;
    /* The nav header is 3.5rem high, plus 20px for the margin-top of the main container. */
    top: calc(3.5rem + 20px);
}
#sidebar .nav-link {
    color: black;
}
#sidebar .nav-link:hover,
#sidebar .nav-link:focus {
    color: #e36629;
    background: none;
    text-decoration: none;
    border-right: 1px solid;
}
#sidebar .nav-link.active {
    color: #e36629;
    background: none;
}
#sidebar .nav-item[data-level='1'] > .nav-link {
    font-weight: bold;
}
#sidebar .nav-item[data-level='1'] > ul {
    padding-left: 20px;
    list-style-type: none;
}
#sidebar .nav-item[data-level='2'] {
    border-bottom: dotted 1px #000;
}

/* === MAIN === */
main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
main.container {
    max-width: 1400px;
}
#content .card {
    margin-bottom: 20px;
}

/* === FOOTER === */
footer {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 200;
}

footer {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
footer .row {
    margin-right: 0px;
    margin-left: 0px;
}
.footer-logo {
    max-width: 150px;
}