<!DOCTYPE html>
<html lang="{% block locale %}en{% endblock %}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}SeedPSD{% endblock %}</title>
        <meta name="description" content="{% block description %}SeedPSD{% endblock %}">
        <meta name="author" content="Résif-DC">

        <!-- Bootstrap Core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- Bootswatch Theme CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/bootstrap.min.css" integrity="sha256-rU1IToLlw3oMuNHSO29CP/HxYCcBqq9Vc73wVnN5prQ=" crossorigin="anonymous">

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

        <!-- Skin Custom CSS -->
        <link href="{{ request.static_url('seedpsd:api/static/seedpsd.css') }}" rel="stylesheet">
    </head>

    <body>
        {% include 'seedpsd:api/templates/snippets/header.jinja2' %}
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
        {% include 'seedpsd:api/templates/snippets/footer.jinja2' %}

        <!-- Bootstrap Core JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

        <!-- JQuery Core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

        <!-- Copy to Clipboard (https://clipboardjs.com/) -->
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>

        <!-- Custom script -->
        {% block script %}{% endblock %}
    </body>
</html>
