<script type="application/javascript">
    var clipboard;

    toggle_input = function(key) {
        let item_check = $('#toggle-'+key);
        let item_input = $('input[name='+key+']');
        item_input.prop("disabled", !item_check.prop("checked"));
    }

    toggle_select = function(key) {
        let item_check = $('#toggle-'+key);
        let item_input = $('select[name='+key+']');
        item_input.prop("disabled", !item_check.prop("checked"));
    }

    clean_param = function(key, searchParams) {
        if (searchParams.has(key)) {
            let value = searchParams.get(key);
            if (value === '' || value.length === 0) {
                searchParams.delete(key);
            }
        }
        return searchParams;
    }

    build_datetime = function(key, searchParams) {
        let date = searchParams.get('date_'+key);
        if (date) {
            let time = searchParams.get('time_'+key);
            if (time) {
                searchParams.set(key, date+'T'+time);
            } else {
                searchParams.set(key, date);
            }
        }
        else if (key == 'end') {
            searchParams.set(key, 'currentutcday');
        }

        if (searchParams.has('date_'+key)) {
            searchParams.delete('date_'+key);
        }
        if (searchParams.has('time_'+key)) {
            searchParams.delete('time_'+key);
        }
        return searchParams;
    }

    generate_url = function () {
        let form = $('#form-url-builder');
        let searchParams = new URLSearchParams(form.serialize());
        for (let key of searchParams.keys()) {
            searchParams = clean_param(key, searchParams);
        }

        let params_keys = [
            'network', 'station', 'location', 'channel', 'nodata',
            'xmin', 'xmax', 'ymin', 'ymax', 'zmin', 'zmax',
            'width', 'height', 'dpi', 'fontsize', 'percentiles',
        ];
        for (let key of params_keys) {
            searchParams = clean_param(key, searchParams);
        }

        searchParams = build_datetime('start', searchParams);
        searchParams = build_datetime('end', searchParams);

        let url = '{{ request.route_url(command) }}?' + searchParams.toString();
        $('#input-generated-url').val(url);
        clipboard = new ClipboardJS('#button-copy');

        return url
    }

    run_url = function() {
        let url = generate_url();
        window.open(url, '_blank').focus();
    }

    generate_url();
</script>
