{% extends main_template %}

{% block locale %}{{ locale }}{% endblock %}

{% block script %}
    {% include 'seedpsd:api/templates/snippets/urlbuilder/javascript.jinja2' %}
{% endblock %}

{% block content %}
    {% include 'seedpsd:api/templates/snippets/title.jinja2' %}
    <p>{{ gettext('coverage:description') }}</p>
    {% include 'seedpsd:api/templates/snippets/citation.jinja2' %}

    <h2>{{ gettext('URL builder') }}</h2>
    <form action="{{ request.route_path(command) }}" method="GET" target="_blank" id="form-url-builder" class="card">
        <div class="card-body accordion accordion-flush">
            <div class="accordion-item">
                <h3 class="accordion-header" id="label-panel-source">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-source" aria-expanded="true" aria-controls="panel-source">
                        {{ gettext('Data source') }}
                    </button>
                </h3>
                <div id="panel-source" class="accordion-collapse collapse show" aria-labelledby="label-panel-source">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="label-input-network">{{ gettext('parameter:network:label') }}</span>
                                    <input name="network" type="text" class="form-control" placeholder="network" aria-label="{{ gettext('parameter:network:label') }}" aria-describedby="label-input-network" onchange="generate_url();" required{% if network %} value="{{ network }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="label-input-station">{{ gettext('parameter:station:label') }}</span>
                                    <input name="station" type="text" class="form-control" placeholder="station" aria-label="{{ gettext('parameter:station:label') }}" aria-describedby="label-input-station" onchange="generate_url();" required{% if station %} value="{{ station }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="label-input-location">{{ gettext('parameter:location:label') }}</span>
                                    <input name="location" type="text" class="form-control" placeholder="location" aria-label="{{ gettext('parameter:location:label') }}" aria-describedby="label-input-location" onchange="generate_url();" required{% if location %} value="{{ location }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="label-input-channel">{{ gettext('parameter:channel:label') }}</span>
                                    <input name="channel" type="text" class="form-control" placeholder="channel" aria-label="{{ gettext('parameter:channel:label') }}" aria-describedby="label-input-channel" onchange="generate_url();" required{% if channel %} value="{{ channel }}"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h3 class="accordion-header" id="label-panel-time">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-time" aria-expanded="false" aria-controls="panel-time">
                        {{ gettext('Time period') }}
                    </button>
                </h3>
                <div id="panel-time" class="accordion-collapse collapse" aria-labelledby="label-panel-time">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="label-input-start">{{ gettext('parameter:start:label') }}</span>
                                    <input name="date_start" type="date" class="form-control" placeholder="YYYY-MM-DD" aria-label="{{ gettext('parameter:start_date:label') }}" aria-describedby="label-input-start" onchange="generate_url();">
                                    <input name="time_start" type="time" class="form-control" placeholder="HH:mm:ss" aria-label="{{ gettext('parameter:start_time:label') }}" step="1" onchange="generate_url();">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="label-input-end">{{ gettext('parameter:end:label') }}</span>
                                    <input name="date_end" type="date" class="form-control" placeholder="YYYY-MM-DD" aria-label="{{ gettext('parameter:end_date:label') }}" aria-describedby="label-input-end" onchange="generate_url();">
                                    <input name="time_end" type="time" class="form-control" placeholder="HH:mm:ss" aria-label="{{ gettext('parameter:end_time:label') }}" step="1" onchange="generate_url();">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h3 class="accordion-header" id="label-panel-options">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-options" aria-expanded="false" aria-controls="panel-options">
                        {{ gettext('Options') }}
                    </button>
                </h3>
                <div id="panel-options" class="accordion-collapse collapse" aria-labelledby="label-panel-options">
                    <div class="accordion-body">

                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" onclick="toggle_select('format');" id="toggle-format" onchange="generate_url();">
                            </div>
                            <span class="input-group-text" id="label-input-format">{{ gettext('parameter:format:label') }}</span>
                            <select name="format" class="form-select" aria-label="{{ gettext('parameter:format:label') }}" aria-describedby="label-input-format" onchange="generate_url();" disabled>
                                <option value="csv" selected>CSV</option>
                                <option value="json">JSON</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" onclick="toggle_select('extent');" id="toggle-extent" onchange="generate_url();" checked>
                            </div>
                            <span class="input-group-text" id="label-input-extent">{{ gettext('parameter:extent:label') }}</span>
                            <select name="extent" class="form-select" aria-label="{{ gettext('parameter:extent:label') }}" aria-describedby="label-input-extent" onchange="generate_url();">
                                <option value="true" selected>{{ gettext('yes') }}</option>
                                <option value="false">{{ gettext('no') }}</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" onclick="toggle_input('nodata');" id="toggle-nodata" onchange="generate_url();" checked>
                            </div>
                            <span class="input-group-text" id="label-input-nodata">{{ gettext('parameter:nodata:label') }}</span>
                            <input name="nodata" type="number" class="form-control" placeholder="204" aria-label="{{ gettext('parameter:nodata:label') }}" onchange="generate_url();" value="404">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="" aria-label="URL" id="input-generated-url" readonly>
                <div class="input-group-append">
                    <button id="button-copy" class="btn btn-secondary" type="button" data-clipboard-target="#input-generated-url">
                        <i class="bi bi-clipboard-plus"></i>
                    </button>
                    <button id="button-run" class="btn btn-primary" type="button" onclick="run_url();">
                        <i class="bi bi-play-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <h2>{{ gettext('Documentation') }}</h2>
    {{ panel('example', command) }}

    <h3>{{ gettext('Usage') }}</h3>
    <pre><code>/{{ command }}? (channel-options) (date-range-options) [image-options] [plot-options] [nodata=404]

{{ gettext('where') }} :
channel-options      ::  (network=&lt;network&gt;) (station=&lt;station&gt;) (location=&lt;location&gt;) (channel=&lt;channel&gt;)
date-range-options   ::  [starttime=&lt;date&gt;] [endtime=&lt;date&gt;]
data-options         ::  [format=&lt;csv|json&gt;] [extent=&lt;true|false&gt;]

(..) {{ gettext('mandatory') }}
[..] {{ gettext('optional') }}</code></pre>

    <h3>{{ gettext('Parameters') }}</h3>
    {% include 'seedpsd:api/templates/snippets/doc/datasource.jinja2' %}
    {% include 'seedpsd:api/templates/snippets/doc/timeperiod.jinja2' %}

    <h4>{{ gettext('Options') }}</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ gettext('Parameter') }}</th>
                <th>{{ gettext('Alias') }}</th>
                <th>{{ gettext('Default') }}</th>
                <th>{{ gettext('Description') }}</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>extent</td>
                <td></td>
                <td>false</td>
                <td>{{ gettext('parameter:extent:description') }}</td>
            </tr>
            <tr>
                <td>format</td>
                <td></td>
                <td>csv</td>
                <td>{{ gettext('parameter:format:description:coverage') }}</td>
            </tr>

            <tr>
                <td>nodata</td>
                <td></td>
                <td>204</td>
                <td>{{ gettext('parameter:nodata:description') }}</td>
            </tr>

        </tbody>
    </table>

{% endblock %}
