{#{% extends main_template %}#}

{% block content %}
<div class="content">
    <h1>{{ gettext("Error") }}: {{ error.code }}: {{ error.title }}</h1>
    <p>{{ error.detail }}</p>
    {% if debug and error.comment %}
    <p>{{ error.comment }}</p>
    {% endif %}
</div>
{% endblock content %}
