{% extends main_template %}

{% block content %}
<div class="content">
  <h1>{{ gettext('Health status of SeedPSD') }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ gettext('Item') }}</th>
                <th>{{ gettext('Status') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ gettext('Database') }}</td>
                <td>
                    {% if not db_available %}
                        <span class="badge bg-danger">{{ gettext('Unavailable') }}</span>
                    {% elif not db_status %}
                        <span class="badge bg-warning">{{ gettext('Needs upgrade') }}</span>
                    {% else %}
                        <span class="badge bg-success">{{ gettext('Ready') }}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ gettext('Database pool status') }}</td>
                <td>{{ db_pool_status }}</td>
            </tr>
            <tr>
                <td>{{ gettext('Database schema version') }}</td>
                <td>{{ db_version }}</td>
            </tr>
            <tr>
                <td>{{ gettext('SeedPSD version') }}</td>
                <td>{{ seedpsd_version }}{% if seedpsd_commit %} ({{ seedpsd_commit }}){% endif %}</td>
            </tr>
            <tr>
                <td>{{ gettext('ObsPy version') }}</td>
                <td>{{ obspy_version }}</td>
            </tr>
            <tr>
                <td>{{ gettext('SeedPSD log level') }}</td>
                <td>{{ seedpsd_loglevel }}</td>
            </tr>
            <tr>
                <td>{{ gettext('SQLAlchemy log level') }}</td>
                <td>{{ db_loglevel }}</td>
            </tr>
            <tr>
                <td>{{ gettext('Debug mode') }}</td>
                <td>
                    {% if debug %}
                    <span class="badge bg-success">{{ gettext('On') }}</span>
                    {% else %}
                    <span class="badge bg-danger">{{ gettext('Off') }}</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
