<?xml version="1.0" encoding="UTF-8"?>
<application>
    <doc title="RESIF ppsd web service 1.0"/>

    <resources base="{{ request.route_url('home') }}">
        <resource path="/">
            <method name="GET">
                <response>
                    <representation mediaType="text/html"/>
                </response>
            </method>
        </resource>
        <resource path="version">
            <method name="GET">
                <response>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>
        <resource path="application.wadl">
            <method name="GET" id="application.wadl">
                <response>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
        </resource>
        <resource path="histogram">
            <method href="#histogram"/>
        </resource>
        <resource path="spectrogram">
            <method href="#spectrogram"/>
        </resource>
    </resources>

    <method name="GET" id="histogram">
        <request>
            <param name="network" style="query" required="true" type="xsd:string"/>
            <param name="net" style="query" type="xsd:string"/>

            <param name="station" style="query" required="true" type="xsd:string"/>
            <param name="sta" style="query" type="xsd:string"/>

            <param name="location" style="query" required="true" type="xsd:string"/>
            <param name="loc" style="query" type="xsd:string"/>

            <param name="channel" style="query" required="true" type="xsd:string"/>
            <param name="cha" style="query" type="xsd:string"/>

            <param name="starttime" style="query" required="true" type="xsd:string"/>
            <param name="start" style="query" type="xsd:string"/>

            <param name="endtime" style="query" required="true" type="xsd:string"/>
            <param name="end" style="query" type="xsd:string"/>

            <param name="dpi" style="query" type="xsd:string"/>
            <param name="width" style="query" type="xsd:string"/>
            <param name="height" style="query" type="xsd:string"/>
            <param name="format" style="query" type="xsd:string"/>
            <param name="transparent" style="query" type="xsd:string"/>

            <param name="grid" style="query" type="xsd:string"/>
            <param name="xmin" style="query" type="xsd:string"/>
            <param name="xmax" style="query" type="xsd:string"/>
            <param name="ymin" style="query" type="xsd:string"/>
            <param name="ymax" style="query" type="xsd:string"/>
            <param name="cmap" style="query" type="xsd:string"/>
            <param name="cmax" style="query" type="xsd:string"/>

            <param name="coverage" style="query" type="xsd:string"/>
            <param name="percentiles" style="query" type="xsd:string"/>
            <param name="histogram" style="query" type="xsd:string"/>
            <param name="noisemodels" style="query" type="xsd:string"/>
            <param name="mean" style="query" type="xsd:string"/>
            <param name="mode" style="query" type="xsd:string"/>
            <param name="cumulative" style="query" type="xsd:string"/>
            <param name="frequency" style="query" type="xsd:string"/>
        </request>

        <response status="200 202 400 408 413 404 500 503">
            <representation mediaType="application/octet-stream"/>
            <representation mediaType="image/png"/>
        </response>
    </method>

    <method name="GET" id="spectrogram">
        <request>
            <param name="network" style="query" required="true" type="xsd:string"/>
            <param name="net" style="query" type="xsd:string"/>

            <param name="station" style="query" required="true" type="xsd:string"/>
            <param name="sta" style="query" type="xsd:string"/>

            <param name="location" style="query" required="true" type="xsd:string"/>
            <param name="loc" style="query" type="xsd:string"/>

            <param name="channel" style="query" required="true" type="xsd:string"/>
            <param name="cha" style="query" type="xsd:string"/>

            <param name="starttime" style="query" required="true" type="xsd:string"/>
            <param name="start" style="query" type="xsd:string"/>

            <param name="endtime" style="query" required="true" type="xsd:string"/>
            <param name="end" style="query" type="xsd:string"/>

            <param name="dpi" style="query" type="xsd:string"/>
            <param name="width" style="query" type="xsd:string"/>
            <param name="height" style="query" type="xsd:string"/>
            <param name="format" style="query" type="xsd:string"/>
            <param name="transparent" style="query" type="xsd:string"/>

            <param name="grid" style="query" type="xsd:string"/>
            <param name="xmin" style="query" type="xsd:string"/>
            <param name="xmax" style="query" type="xsd:string"/>
            <param name="ymin" style="query" type="xsd:string"/>
            <param name="ymax" style="query" type="xsd:string"/>
            <param name="cmap" style="query" type="xsd:string"/>
            <param name="cmax" style="query" type="xsd:string"/>
        </request>

        <response status="200 202 400 408 413 404 500 503">
            <representation mediaType="application/octet-stream"/>
            <representation mediaType="image/png"/>
        </response>
    </method>

</application>
