<h2>{{ gettext('How it works') }}</h2>

<div class="alert alert-info" role="alert">
    {% if use_defaults %}

    {{ gettext('obspy:default_parameters') }}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ppsd_length</th>
                <td>3600.0</td>
            </tr>
            <tr>
                <th>period_smoothing_width_octaves</th>
                <td>1.0</td>
            </tr>
            <tr>
                <th>period_step_octaves</th>
                <td>0.125</td>
            </tr>
            <tr>
                <th>period_limits</th>
                <td>None</td>
            </tr>
            <tr>
                <th>overlap</th>
                <td>0.5</td>
            </tr>
        </tbody>
    </table>

    {% else %}

    {{ gettext('obspy:customized_parameters') }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>{{ gettext('Band') }} D</th>
                <th>{{ gettext('Band') }} C</th>
                <th>{{ gettext('Band') }} E</th>
                <th>{{ gettext('Band') }} H</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>ppsd_length</th>
                <td>3600.0 * 0.5</td>
                <td>3600.0 * 0.25</td>
                <td>3600.0</td>
                <td>3600.0</td>
            </tr>
            <tr>
                <th>period_smoothing_width_octaves</th>
                <td>1.0</td>
                <td>1.0</td>
                <td>1/2</td>
                <td>1/2</td>
            </tr>
            <tr>
                <th>period_step_octaves</th>
                <td>1/4</td>
                <td>1/4</td>
                <td>1/8</td>
                <td>1/8</td>
            </tr>
            <tr>
                <th>period_limits</th>
                <td>(2/sampling_rate, ppsd_length/4)</td>
                <td>(2/sampling_rate, ppsd_length/4)</td>
                <td>(2/sampling_rate, ppsd_length/12)</td>
                <td>(2/sampling_rate, ppsd_length/12)</td>
            </tr>
            <tr>
                <th>overlap</th>
                <td>0.5</td>
                <td>0.5</td>
                <td>0.5</td>
                <td>0.5</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>{{ gettext('Band') }} B</th>
                <th>{{ gettext('Band') }} M</th>
                <th>{{ gettext('Band') }} L</th>
                <th>{{ gettext('Band') }} V</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>ppsd_length</th>
                <td>3600.0 * 2</td>
                <td>3600.0 * 2</td>
                <td>3600.0 * 24 - 1000.0</td>
                <td>3600.0 * 24 - 1000.0</td>
            </tr>
            <tr>
                <th>period_smoothing_width_octaves</th>
                <td>1/2</td>
                <td>1/2</td>
                <td>1/4</td>
                <td>1/4</td>
            </tr>
            <tr>
                <th>period_step_octaves</th>
                <td>1/32</td>
                <td>1/32</td>
                <td>1/64</td>
                <td>1/64</td>
            </tr>
            <tr>
                <th>period_limits</th>
                <td>(2/sampling_rate, ppsd_length/24)</td>
                <td>(2/sampling_rate, ppsd_length/24)</td>
                <td>(2/sampling_rate, ppsd_length/48)</td>
                <td>(2/sampling_rate, ppsd_length/48)</td>
            </tr>
            <tr>
                <th>overlap</th>
                <td>0.5</td>
                <td>0.5</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>

<h3>{{ gettext('Feeding') }}</h3>

<h4>{{ gettext('Metadata') }}</h4>
<p>{{ gettext('feeding:metadata:1') }}</p>
<ol>
    <li>{{ gettext('feeding:metadata:2') }}</li>
    <li>{{ gettext('feeding:metadata:3') }}</li>
    <li>{{ gettext('feeding:metadata:4') }}</li>
</ol>

<h4>{{ gettext('Data') }}</h4>
<p>{{ gettext('feeding:data:1') }}</p>
<ol>
    <li>{{ gettext('feeding:data:2') }}</li>
    <li>{{ gettext('feeding:data:3') }}</li>
    <li>{{ gettext('feeding:data:4') }}</li>
</ol>

<h3>{{ gettext('Operation') }}</h3>
<p>{{ gettext('operation:1') }}</p>
<ol>
    <li>{{ gettext('operation:2') }}</li>
    <li>{{ gettext('operation:3') }}</li>
    <li>{{ gettext('operation:4') }}</li>
    <li>{{ gettext('operation:5') }}</li>
    <li>{{ gettext('operation:6') }}</li>
</ol>